<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="erpNext">
	<test name="erpNextLogin">
		<classes>
			<class name="com.erpNext.testCases.customer">
				<methods>
					<include name="createNewCustomer" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
